<script>
	document.title="Signup"
</script>

<style>
	.signup{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.containerLogIn-create-pet-signup {

  margin:  6% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-items: center;
  position: relative;
  border-radius: 20px;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
  background:linear-gradient(90deg, rgba(121,217,255,1) 0%, rgba(209,0,167,1) 100%);
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
	width: 350px;
}

</style>


  
<div class="signup">
<div class="containerLogIn-create-pet-signup">
<h2>Signup</h2>
  <div class="brand-logoLogIn"></div>
  <div class="brand-titleLogIn">AdoptAPet</div>
  <div class="inputsLogIn div-new-pet-fields">
    <form action="/auth/signup" method="POST">
    <label> First Name
       <input type="text" name="firstName" placeholder="First Name" />
    </label>
    <label> Last Name
      <input type="text" name="lastName" placeholder="Last Name">
    </label>
		    <label> Age
      <input type="date" name="age" placeholder="dd/mm/yyyy">
    </label>
		    <label> City
      <input type="text" name="city" placeholder="City">
    </label>
		    <label> Phone Number
      <input type="tel" name="phone" placeholder="Phone Number">
    </label>
		    <label> Email
      <input type="email" name="email" placeholder="pets@pets.com">
    </label>
				    <label> Username
      <input type="text" name="username" placeholder="Username">
    </label>
		    <label> Password
      <input type="password" name="password" placeholder="********">
    </label>
		
		
    <button type="submit">Submit</button>
    </form>
  </div>
</div>

 
   
		
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>