<h2>Signup</h2>
  <form action="/auth/signup" method="POST">
 
    <label> First Name
      <input type="text" name="firstName" placeholder="First Name" />
    </label>
 
    <label> Last Name
      <input type="text" name="lastName" placeholder="Last Name" />
    </label>
 
    <label> Date ot Birth
      <input type="date" name="Age"  />
    </label>

		<label for=""> City
			<input type="text" name="City" placeholder="City">
		</label>

		<label for=""> Phone Number
			<input type="tel" name="PhoneNumber" placeholder="Phone Number">
		</label>

    <button type="submit">Create account</button>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}