<h2>Signup</h2>
  <form action="/auth/signup" method="POST">
 
    <label>
      <input type="text" name="firstName" placeholder="First Name" />
    </label>
 
    <label>
      <input type="text" name="lastName" placeholder="Last Name" />
    </label>
 
    <label> 
      <input type="date" name="Age"  />
    </label>

		<label for=""> 
			<input type="text" name="City" placeholder="City">
		</label>

		<label for=""> 
			<input type="tel" name="PhoneNumber" placeholder="Phone Number">
		</label>

		<label for="">
			<input type="email" name="email" placeholder="pets@pets.com">
		</label>

		<label for="">
			<input type="text" name="username" placeholder="Username">
		</label>

		<label for="">
			<input type="password" name="password" placeholder="********">
		</label>

    <button type="submit">Create account</button>
{{!-- {{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}