<script>
	document.title="Signup"
</script>

<style>
	.signup{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

</style>


  <form action="/auth/signup" method="POST">
<div class="signup">
<h2>Signup</h2>
 
    <label>
      <input type="text" name="firstName" placeholder="First Name" />
    </label>
 
    <label>
      <input type="text" name="lastName" placeholder="Last Name" />
    </label>
 
    <label> 
      <input type="text" name="Age" class="age" placeholder="dd/mm/yy"/>
    </label>

		<label for=""> 
			<input type="text" name="City" placeholder="City">
		</label>

		<label for=""> 
			<input type="tel" name="phone" placeholder="Phone Number">
		</label>

		<label for="">
			<input type="email" name="email" placeholder="pets@pets.com">
		</label>

		<label for="">
			<input type="text" name="username" placeholder="Username">
		</label>

		<label for="">
			<input type="password" name="password" placeholder="********">
		</label>

    <button type="submit" class="btnHome-signup">Create account</button>
		</form>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
</div>