
<form action="/pet/post" method="POST" enctype="multipart/form-data">
    
    <div class="containerLogIn-create-pet" >
        <h1 class="h1-create-pet">Post one of your best moments with your friend </h1> 
        <div class="div-new-pet">
             <div>
                 <image class="image-create-pet" src="/images/adopt-create-pet-01.png" alt=""/>
            </div>
            <div class="div-new-pet-fields" >
            <div class="field-create-pet">
                <label class="form-label label-create-pet"> Pet's Name
                    <input type="text" name="petname"  placeholder="Michi" class="form-control input-new-pet">
                </label>
            </div>
            <div class="field-create-pet">
                <label class="form-label label-create-pet"> Date of Adoption
                    <input type="date" name="adoptionDate" class="form-control">
                </label>
            </div> 
            <div class="field-create-pet">
                <label class="form-label label-create-pet"> Tell us more about your fur family
        
					<textarea class="form-control" name="comment" id="exampleFormControlTextarea1" placeholder="Write Here" rows="3"></textarea>
                </label>
            </div>
			<div class="input-group mb-3 field-create-pet">
			    <input type="file" name="image" class="form-control" id="inputGroupFile02">
				<label class="input-group-text" for="inputGroupFile02" >Upload</label>
							</div>

            <button href="/pet/community" type="submit" class="btnHome-signup" role="button">Submit</button>
           
        </div>
        </div>
        
   </div>
</form>