<form action="/pet/my-pets" method="POST">
   <label> Pet's Name
      <input type="text" name="petname">
   </label>
    <label for="pets">Type of Pet</label>
        <input list="pet" name="pet">
        <datalist id="pet">
            <option value="Dog">
            <option value="Cat">
        </datalist>
    <label> Date of Birth
      <input type="date" name="dob">
   </label>
    <label for="size">Size</label>
        <input list="size" name="size">
        <datalist id="size">
            <option value="Small">
            <option value="Medium">
            <option value="Large"></option>
        </datalist>
    <label for="personality">Personality</label>
        <input list="personality" name="personality">
        <datalist id="personality">
            <option value="Active">
            <option value="Energic">
            <option value="Relaxed"></option>
        </datalist>
   <label for="sociability">Sociability</label>
        <input list="sociability" name="sociability">
        <datalist id="sociability">
            <option value="Sociable">
            <option value="No sociable">
        </datalist>
    <label> City
      <input type="text" name="city">
   </label>
    <label> Phone
      <input type="text" name="phone">
   </label>
   <label> Name
      <input type="text" name="name">
   </label>
 <label for="status">Status</label>
        <input list="status" name="status">
        <datalist id="status">
            <option value="Looking for a family">
            <option value="Adopted">
        </datalist>
   <button type="submit"><a href="/pet/my-pets">Submit</a></button>
</form>