<form action="/pet/new" method="POST">
   <label> Pet's Name
      <input type="text" name="petname"  placeholder="Michi">
   </label>
    <label for="pets">Type of Pet</label>
    <select id="pet" name="pet" class="form-select" aria-label="Default select example">
  <option selected>Select your pet</option>
  <option value="dog">Dog</option>
  <option value="cat">Cat</option>
</select>
        <select id="pet" name="pet">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
        </select>
    <label> Date of Birth
      <input type="date" name="dob">
   </label>
    <label for="size">Size</label>
        <select id="size" name="size">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="big">Big</option>
        </select>
    <label for="personality">Personality</label>
        <select id="personality" name="personality">
            <option value="playful">Playful</option>
            <option value="energetic">Energetic</option>
            <option value="relaxed">Relaxed</option>
        </select>
   <label for="sociability">Sociability</label>
        <select id="sociability" name="sociability">
            <option value="sociable">Sociable</option>
            <option value="no sociable">Not very sociable</option>
        </select>
    <label> City
      <input type="text" name="city" placeholder="CDMX">
   </label>
    <label> Phone
      <input type="text" name="phone"  placeholder="555 5555 555">
   </label>
   <label> Name
      <input type="text" name="name"  placeholder="Your name">
   </label>
 <label for="status">Status</label>
        <select id="status" name="status">
            <option value="looking for a family">Looking for a family</option>
            <option value="adopted">Adopted</option>
        </select>
   <button type="submit">Submit</button>
</form>