<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="home1">
        <h1>AdoptAPet</h1>
        <section class="bottom1">
        <a class="btnHome-signup" href="auth/signup">Join Our Community</a>
        </section>
    </div>
    <div class="home2">
        <h2>About Us</h2>
        <img src="/images/adopt-a-pet-logo.jpg"/>
        <h3>Every homeless dog or cat deserves a home</h3>
        <p>We are a group of Web Development students who love animals and firmly believe that all abandoned or homeless pets deserve a chance to live fully. That is why we decided to carry out our second project of a website that supports the adoption of animals.</p>
    </div>
    <div class="divide"><hr><img class="paw3" src="/images/paw3.png"/><hr/></div>
    <div class="middle">
        <img class="adopt1" src="/images/adopt1.png"/>
        <div class="information">
            <h3>Mission</h3>
            <p>To build a community where people value animals and treat them with respect and kindness.</p>
            <img src="/images/paws4.gif"/>
            <h3>Vision</h3>
            <p>That every animal posted on our wall gets a true chance at the life they deserve.</p>
        </div>
        <img class="adopt2" src="/images/adopt2.png"/>
    </div>
    <div class="divide"><hr/><img class="paw3" src="/images/paw3.png"/><hr/></div>
        <h2>Our Team</h2>
    <div class="home3">
        <article class="rodrigo">
            <img src="/images/rodrigo.jpg"/>
            <h4 class="title">Rodrigo Gutierrez</h4>
            <p>Create an org, add your team, and start collaborating. Nothing to configure, set up, or manage. </p>
        </article>
        <article class="majo">
            <img src="/images/majo.webp"/>
            <h4 class="title">Marijo Torre</h4>
            <p>nmps Orgs has 100% parity with all the public npm registry features your developers already use. </p>
        </article>
        <article class="antonio">
            <img src="/images/antonio.jpg"/>
            <h4 class="title">José A. Heredia</h4>
            <p>Enjoy the security auditing feutures built into the npm client, a zero-friction way to make open source software safer.</p>
        </article>
    </div>
</body>
</html>