
<h1>my pets</h1>

{{#each pets}}
//user.id === id pet
<div>
    <h3>{{petname}}</h3>
    <p>
        {{pet}}
    </p>
    <p>
        {{status}}
    </p>
		<a href="/pet/my-pets/{{_id}}">Meet me</a>
</div>
{{/each}}