@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}

.logo2 {
  height: 50px;
}

.home1 {
  display: flex;
  flex-direction:column;
  text-align : center;
  background-image: url("/images/catsdogs.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 0px;
  padding:0px 0px 2%;
  height: 65vh;
  width: 100%;
  border-radius: 0 0 85% 85% / 30%;
}
.home1 h1 {
  font-size:70px;
  font-weight: bold;
  padding: 20px 0px 20px;
  color: white;
  text-shadow: #020819 8px 0px 9px;
}


.btnHome-signup {
  font-family: 'Poppins';
  font-size:15px;
  font-weight: bold;
  border:0px;
  padding: 10px 50px;
  color:white;
  background-color:#9900d1;
  box-shadow:8px 8px 0 rgba(251,59,73,.2);
  text-decoration:none;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgHome{
  height: 100vh;
  border-bottom: black;
}
.join-free {
  border:0px;
  background-color: white;
  color:black;
  font-family: 'Poppins';
  font-size:15px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration:none;
}
.home2 {
  text-align : center;
  padding:2% 0px 60px;
  height: 40%;
}

.home2 h2{
  font-weight: 700;
  font-size: 90px;
  padding-top: 40px;
background-image: url("/images/paws.jpg");
  background-size: 200px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: #020819 7px 0px 8px;
}

.home2 img{
  padding:5% 0px 5%;
  width: 40vw;
}
.home2 h3 {
  font-size:30px;
  background-color:rgba(255,204,53,.4);
  transform:skew(9deg,0deg);
  margin:0px 300px;
}
.home2 p {
  padding: 20px 10% 25px;
}

.home3 {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  padding:0px 80px;
}

.rodrigo, .majo, .antonio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: #00D1B5;
  border-radius: 10%;
  padding: 30px 10px;
  padding-top: 20px;
}

.home3 p {
  font-size:13px;
  width:200px;
}
.home3 img{
  height: 180px;
  border-radius: 50%;
}
.home3 h4 {
  color: whitesmoke;
  padding:20px 0px 0px;
}

.information{
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav{
  
  background-image:url("/images/paws2.png");
  opacity: 0.7;
  background-position: 0px 425px; 
  background-size: 200px;
  
}