@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}

.logo2 {
  height: 50px;
}

.home1 {
  display: flex;
  flex-direction:column;
  text-align : center;
  background-image: url("/images/catsdogs.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 0px;
  padding:0px 0px 2%;
  height: 65vh;
  width: 100%;
}
.home1 h1 {
  font-size:70px;
  font-weight: bold;
  padding: 20px 0px 20px;
  color: white;
  text-shadow: #020819 8px 0px 9px;
}
.home-signup {
  font-family: 'Poppins';
  font-size:15px;
  font-weight: bold;
  border:0px;
  padding: 10px 50px;
  color:white;
  background-color:#FB3B49;
  box-shadow:8px 8px 0 rgba(251,59,73,.2);
  text-decoration:none;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgHome{
  height: 100vh;
  border-bottom: black;
}
.join-free {
  border:0px;
  background-color: white;
  color:black;
  font-family: 'Poppins';
  font-size:15px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration:none;
}
.home2 {
  text-align : center;
  padding:2% 0px 60px;
  height: 40%;
}
.home2 img{
  padding:5% 0px 5%;
  width: 40vw;
}
.home2 h3 {
  font-size:30px;
  background-color:rgba(255,204,53,.4);
  transform:skew(9deg,0deg);
  margin:0px 300px;
}
.home2 p {
  padding: 20px 10% 25px;
}

.home3 {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  padding:0px 80px;
}

.rodrigo, .majo, .antonio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: dodgerblue;
  border-radius: 10%;
  padding: 30px 10px;
  padding-top: 20px;
}

.home3 p {
  font-size:13px;
  width:200px;
}
.home3 img{
  height: 180px;
  border-radius: 50%;
}
.home3 h4 {
  color: whitesmoke;
  padding:20px 0px 0px;
}