@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}

.logo2 {
  height: 50px;
}

.home1 {
  display: flex;
  flex-direction:column;
  text-align : center;
  background-image: url("/images/catsdogs.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 0px;
  padding:0px 0px 2%;
  height: 65vh;
  width: 100%;
  border-radius: 0 0 85% 85% / 30%;
}
.home1 h1 {
  font-size:70px;
  font-weight: bold;
  padding: 20px 0px 20px;
  color: white;
  text-shadow: #020819 8px 0px 9px;
}


.btnHome-signup {
  font-family: 'Poppins';
  font-size:15px;
  font-weight: bold;
  border:0px;
  padding: 10px 50px;
  color:white;
  background-color:#d100a7;
  box-shadow:8px 8px 0 rgba(251,59,73,.2);
  text-decoration:none;
  border-radius: 5px;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgHome{
  height: 100vh;
  border-bottom: black;
}
.join-free {
  border:0px;
  background-color: white;
  color:black;
  font-family: 'Poppins';
  font-size:15px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration:none;
}
.home2 {
  text-align : center;
  padding:2% 0px 60px;
  height: 40%;
}

.home2 h2{
  font-weight: 700;
  font-size: 90px;
  padding-top: 40px;
background-image: url("/images/paws.jpg");
  background-size: 200px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: #020819 7px 0px 8px;
}

.home2 img{
  padding:5% 0px 5%;
  width: 40vw;
}
.home2 h3 {
  font-size:30px;
  background-color:rgba(255,204,53,.4);
  transform:skew(9deg,0deg);
  margin:0px 300px;
}
.home2 p {
  padding: 20px 10% 25px;
}

.home3 {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  padding:0px 80px;
}

.rodrigo, .majo, .antonio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #20bbf3;
  border-radius: 10%;
  padding: 30px 10px;
  padding-top: 20px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.home3 p {
  font-size:13px;
  width:200px;
}
.home3 img{
  height: 180px;
  border-radius: 50%;
}
.home3 h4 {
  color: whitesmoke;
  padding:20px 0px 0px;
}

.information{
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav{
  
  /* background-image:url("/images/paws2.png"); */
  background: radial-gradient(circle, rgba(209,0,167,1) 0%, rgba(102,0,82,1) 33%, rgba(0,0,0,1) 100%);
  /* opacity: 0.8; */
  /* background-position: 0px 425px; 
  background-size: 200px; */
  
}
/* .navbar-nav{
  padding-left: 700px;
} */

.inputsLogIn input{
  caret-color: red;
}

.logInBody {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.containerLogIn {
  margin-top: 6%;
  margin-left: 40%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logoLogIn {
  height: 100px;
  width: 100px;
  background: url("https://i0.wp.com/c.tenor.com/1mRsobYzxEoAAAAM/corgi-excited.gif");
  background-size: 120px;
  background-position: -12px 0px; 
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-titleLogIn {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #d100a7;
  letter-spacing: 1px;
}

.inputsLogIn {
  text-align: left;
  margin-top: 30px;
}

.inputsLogIn label, .inputsLogIn input, .inputsLogIn button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.inputsLogIn label{
  margin-bottom: 4px;
}

.inputsLogIn label:nth-of-type(2) {
  margin-top: 12px;
}

.inputsLogIn input::placeholder {
  color: gray;
}

.inputsLogIn input{
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.inputsLogIn button {
  color: white;
  margin-top: 20px;
  background: #d100a7;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.inputsLogIn button :hover {
  box-shadow: none;
}

.information h3{
  font-weight: 700;
  font-size: 60px;
  padding-top: 40px;
  background-image: url("/images/paws.jpg");
  background-size: 200px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: #020819 7px 0px 8px;
}

.information h2{
  font-size: 90px;
  padding-top: 40px;
  padding-bottom: 70px;
  background-image: url("/images/paws.jpg");
  background-size: 200px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: #020819 7px 0px 8px;
}

.paw3{
  height: 80px;
} 

.divide{
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  width: 80%;
  height: 7px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom:90px;
  background-color:black;
}

.middle{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.adopt1 {
  height: 40vh;
}

.adopt2 {
  height: 33vh;
}

.information p{
  padding-top: 17px;
  padding-bottom: 17px;
}

.form-new-pet{
  margin: 5% 10% ;
  padding: 30px 20px;
  background-color: #6b94f4;
  border-radius: 25px;
}
.containerLogIn-create-pet {

  margin:  6% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 20px;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
  background:linear-gradient(90deg, rgba(121,217,255,1) 0%, rgba(209,0,167,1) 100%);
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
.div-new-pet{
  display: flex;
  align-content: space-between;
}
.div-new-pet-fields{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 25px;
	margin:5px 0px ;
}
.field-create-pet{
  margin: 5px 15px;
  width: fit-content;
}
.label-create-pet{
  font-weight: bold;
}
.h1-create-pet{
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
}
.image-create-pet{
  border-radius: 5px;
  width: 80%;
}
.btn-create-pet{
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn-create-pet:not([disabled]):focus {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn-create-pet2:not([disabled]):hover {
box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.quiz-images{
  padding-top: 40px;
  padding-left: 70px;
}

.searching{
  padding-left: 30px;
}

.imageGoesHere{
	border: 2px solid black;
}